h1 {
  font-size: 100px;
}
h2 {
  font-size: 75px;
}
.matchBox {
  width: 470px;
  float: right;
  font-weight: bold;
}
.matchBox p {
  font-size: 130px;
  text-transform: uppercase;
  color: #7CB5EC;
}
.currentListen {
  height: 320px;
  padding-bottom: 200px;
}
.currentListen ul li {
  font-weight: bold;
}
.matchPercentage {
  font-size: 140px;
  margin-top: -70px;
  font-weight: bold;
}
.titleBox {
  width: 630px;
  height: 300px;
  float: left;
}
#container {
  height: 600px;
}
.list-group-item.active {
  background-color: #7CB5EC;
  border-color: #7CB5EC;
}
body {
  background-image: url("ShakesHear.jpg");
  background-size: 110% auto;
  background-attachment: fixed;
}
.backGroundWrapper {
  background-color: rgba(255, 255, 255, 0.75);
  height: 1500px;
}
